<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채굴 게시판</title>
</head>
<body>
<h1>채굴 게시판</h1>
<div th:if="${message}">
    <p th:text="${message}" th:classappend="${messageType == 'success' ? 'success-message' : 'failure-message'}"></p>
</div>
<div th:if="${captcha}">
    <form method="POST" action="/board/mining/verifyCaptcha">
        <label>네 자리 숫자를 입력하세요 : <span th:text="${captcha}"></span></label>
        <input type="text" name="inputCaptcha" required/>
        <button type="submit">Verify</button>
    </form>

</div>
<table th:if="${captcha == null}">
    <tr>
        <th>클릭해서 골드를 획득하세요!</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td><a th:href="@{/board/mining/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
    </tr>
</table>
<br>
<a href="/account">계정 관리 홈</a>
</body>
<style>
    .success-message {
        color: green;
    }
    .failure-message {
        color: red;
    }
</style>
</html>
