<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>채굴 게시판</title>
</head>
<body>
<h1>채굴 게시판</h1>
<div th:if="${message}">
    <p th:text="${message}" th:classappend="${messageType == 'success' ? 'success-message' : 'failure-message'}"></p>
</div>
<div th:if="${captcha}">
    <p>네 자리 숫자를 입력하세요 : <span th:text="${captcha}"></span></p>
    <form action="/board/mining/verifyCaptcha" method="post">
        <input type="text" name="inputCaptcha" required>
        <button type="submit">Verify</button>
    </form>
</div>
<table th:if="${captcha == null}">
    <tr>
        <th>클릭해서 골드를 획득하세요!</th>
    </tr>
    <tr th:each="post : ${posts}">
        <td><a th:href="@{/board/mining/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
    </tr>
</table>
<br>
초급 채굴 : 1 ~ 10골드 랜덤 획득, 성공 확률 100%<br>
중급 채굴 : 1 ~ 5골드 랜덤 + 채굴력 스텟 x 1 골드 획득, 성공 확률 90%<br>
고급 채굴 : 채굴력 스텟 x 10골드 획득, 성공 확률 30%<br>
특수 채굴 : 채굴력 스텟 x 30000골드 획득, 성공확률 0.001%<br>
<br>
<a href="/account">계정 관리</a>
<a href="/">홈</a>
</body>
<style>
    .success-message {
        color: green;
    }
    .failure-message {
        color: red;
    }
</style>
</html>
