<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Register</h1>
<form th:action="@{/register}" th:object="${member}" method="post">
    <div>
        <label>Nickname:</label>
        <input type="text" th:field="*{nickname}" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <label>Introduction:</label>
        <input type="text" th:field="*{introduction}" />
    </div>
    <div>
        <button type="회원가입">Register</button>
    </div>
</form>
</body>
</html>