<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>
<form th:action="@{/register}" th:object="${member}" method="post">
    <div>
        <label>닉네임 </label>
        <input type="text" th:field="*{nickname}" />
    </div>
    <div>
        <label>비밀번호 </label>
        <input type="password" th:field="*{password}" />
    </div>
    <div>
        <label>자기소개 </label>
        <input type="text" th:field="*{introduction}" />
    </div>
    <div>
        <button type="reset">가입</button>
    </div>
</form>
</body>
</html>