<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시물 보기</title>
</head>
<body>
<h1 th:text="${post.title}"></h1>
<p>작성자: <span th:text="${post.writer.nickname}"></span></p>
<p>작성 날짜: <span th:text="${post.createdDate}"></span></p>
<p>수정 날짜: <span th:text="${post.updatedDate}"></span></p>
<p th:text="${post.content}"></p>

<form th:action="@{'/board/' + ${boardId} + '/' + ${post.id} + '/edit'}" method="get" style="display:inline;">
    <button type="submit">수정</button>
</form>
<form th:action="@{'/board/' + ${boardId} + '/' + ${post.id} + '/delete'}" method="post" style="display:inline;">
    <button type="submit">삭제</button>
</form>
<br>
<a th:href="@{'/board/' + ${boardId}}">게시판으로 돌아가기</a>
</body>
</html>